.additional-products {
  padding: 0;
}

.additional-products__title {
  margin-bottom: 35px;

  @media(min-width: $tablet) {
    margin-bottom: 80px;
  }


}

.additional-products__list {
  list-style: none;
  margin: 0 20px;
  padding: 0;

  @media (min-width: $tablet) {
    margin: 0 30px;
  }
}

.additional-products__items {
  border-top: 1px solid #cdcdcd;
  padding: 13px 0 18px;

  @media (min-width: $tablet) {
    margin: 0 0 -1px;
    padding: 26px 38px 28px;
    border: 1px solid #cdcdcd;
  }
}

.additional-products__container {
  justify-content: space-between;
}

.additional-products__caption {
  margin: 0;
  padding: 0 0 13px;
  font-family: $oswald;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: #222222;
}

.additional-products__wrap {
  display: flex;
  justify-content: space-between;
}

.additional-products__quantity {
  margin: 0;
  padding: 0;
  font-family: $lato;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;

  @media(min-width: $tablet) {
    padding-right: 49px;
  }

}

.additional-products__price {
  margin: 0;
  padding: 0;
  font-family: $lato;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}

.additional-products__link {

  @media (min-width: $tablet) {
    margin: 0;
    width: 632px;
  }
}

.additional-products__block {
  position: relative;
  width: 280px;
  height: 290px;
  margin: 34px auto 0;
  background-image: image-set(
      url("../../images/cat-case/cat-case-m@1x.webp") type("image/webp") 1x,
      url("../../images/cat-case/cat-case-m@2x.webp") type("image/webp") 2x,
      url("../../images/cat-case/cat-case-m@1x.jpeg") type("image/jpeg") 1x,
      url("../../images/cat-case/cat-case-m@2x.jpeg") type("image/jpeg") 2x);
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: $thema;
    opacity: 0.85;
    left: 0;
    top: 0;
    z-index: 5;
  }
}

.additional-products__click {
  text-decoration: none;
}

.additional-products__gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46px;
  padding-top: 59px;
  position: relative;
  z-index: 10;

}

.additional-products__text {
  font-family: $lato;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  width: 161px;
  margin: 0;
  padding: 0;
}
