.footer {
  @media (min-width: $desktop) {
    position: relative;
  }
}

.footer__container {
  @media (min-width: $desktop) {
    position: relative;
    padding: 95px 0 105px;
  }
}

.footer__invite {
  @media (min-width: $desktop) {
    position: relative;
    left: 50%;
    margin-left: -610px;
    z-index: 10;
    width: 565px;
  }
}

.footer__address {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: $tablet) {
    padding: 61px 70px 60px;
  }

  @media (min-width: $desktop) {
    margin: 0;
    padding: 60px 0 0 79px;
    justify-content: flex-start;
    width: 565px;
    min-height: 199px;
    background-color: #ffffff;
  }
}

.footer__address--catalog {
  @media (min-width: $tablet) {
    background-color: #f2f2f2;
  }
}

.footer__text {
  font-family: $oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  font-style: normal;
  margin: 0;
  padding: 26px 0;
  min-height: 60px;
  width: 140px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 26px;
    padding: 0;
  }

  @media (min-width: $desktop) {
    padding-right: 110px;
  }
}

.footer__address-text {
  font-family: $lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  margin: 0;
  padding: 26px 0;
  min-height: 60px;
  width: 140px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    width: 160px;
    padding: 0;
  }

  @media (min-width: $desktop) {
    text-align: left;
  }
}

.footer__address-bottom {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet) {
    display: block;
    margin-bottom: 19px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer__map {
  height: 362px;
  position: relative;
  overflow: hidden;

  @media (min-width: $tablet) {
    height: 400px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
}

.footer__map-static {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.footer__map-card {
  position: relative;
  width: 100%;
  z-index: 50;

  @media (min-width: $tablet) {
    height: 100%;
  }
}

.footer__map-picture {
  object-fit: cover;
  width: 100%;
  display: block;
}

.footer__map-google {
  @media (min-width: $tablet) {
    height: 100%;
  }
}

.footer__block {
  background-color: #f2f2f2;
  margin: 0;
  padding: 40px 20px 32px;

  @media (min-width: $tablet) {
    justify-content: space-between;
    padding: 40px 24px 32px;
    box-sizing: border-box;
    display: flex;
  }

  @media (min-width: $desktop) {
    justify-content: space-around;
    gap: 173px;
    margin: 0 auto;
    padding: 52px 0 44px;
  }
}


.footer__block-logo {
  display: block;
  width: 128px;
  position: relative;
  margin: 0 auto 16px;

  @media (min-width: $tablet) {
    margin: 0;
    padding: 22px 0 0 7px;
  }

  &:hover {
    fill: #3e3e3e;
  }

  &:focus {
    fill: #3e3e3e;
  }

  &:active {
    fill: #6b6b6b;
  }
}

.footer__logo-list {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  justify-content: center;
  gap: 24px;
  margin: 0 0 20px;
  padding: 20px 0 19px;
  list-style: none;
  display: flex;

  @media (min-width: $tablet) {
    border: none;
    padding: 22px 0 16px 34px;
  }
}

.footer__logo-wrap {
  color: #666666;
  width: 28px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: #68b738;
  }

  &:focus {
    color: #68b738;
  }

  &:active {
    color: rgba(104, 183, 56, 0.3);
  }
}

.footer__academy-block {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  gap: 10px;

  @media (min-width: $tablet) {
    padding: 17px 6px 0 0;
    gap: 22px;
  }
}

.footer__academy {
  font-family: $lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding-top: 7px;
}

.footer__academy-link {
  text-decoration: none;
  color: #444444;

  &:hover {
    fill: #444444;
  }

  &:focus {
    fill: #444444;
  }

  &:active {
    fill: #444444;
    opacity: 30%;
  }
}

.footer__academy-link--color:hover {
  fill: #68b738;
}

.footer__academy-link--color:focus {
  fill: #68b738;
}

.footer__academy-link--color:active {
  fill: #68b738;
  opacity: 30%;
}
