.header {
  padding-top: 65px;
  position: relative;
  background: url("../../images/logo/mobile-text.svg") no-repeat center 23px;
  z-index: 50;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet) {
    padding-top: 14px;
    background: none;
    display: flex;
    justify-content: flex-end;
    margin: 13px 34px 0 10px;
    border-bottom: none;
  }

  @media (min-width: $desktop) {
    padding: 43px 0 0;
    margin: 0 auto;
    width: 1220px;
  }
}

.header__logo {
  position: absolute;
  top: 13px;
  left: 20px;

  @media (min-width: $tablet) {
    top: 25px;
    left: 20px;
  }

  @media (min-width: $desktop) {
    top: 56px;
    left: 0;
  }
}

.header__logo-catalog {
  position: absolute;
  top: 13px;
  left: 20px;

  @media (min-width: $tablet) {
    top: 12px;
    left: 20px;
  }

  @media (min-width: $desktop) {
    top: 55px;
    left: 0;
  }
}
