.header {
  padding-top: 64px;
  position: relative;
  background: url("../../images/logo/mobile-text.svg") no-repeat center 23px;
  z-index: 50;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet) {
    padding-top: 14px;
    background: none;
    display: flex;
    justify-content: flex-end;
    margin: 13px 34px 0 10px;
    border-bottom: none;
  }

  @media (min-width: $desktop) {
    padding: 55px 0 0;
    margin: 0 auto;
    width: 1220px;
    justify-content: space-between;
    align-items: center;
  }
}

.header--main {
  // @media (min-width: $tablet) {
  //   gap: 10px;
  //   align-items: center;
  // }

  @media (min-width: $desktop) {
    padding: 43px 0 0;
  }
}

.header__logo {
  position: absolute;
  top: 13px;
  left: 20px;

  @media (min-width: $tablet) {
    position: absolute;
    top: 25px;
    left: 20px;
  }

  @media (min-width: $desktop) {
    padding-top: 6px;
    padding-left: 0;
  }
}

.header__logo-catalog {
  position: absolute;
  top: 13px;
  left: 20px;

  @media (min-width: $tablet) {
    top: 12px;
    left: 20px;
  }

  @media (min-width: $desktop) {
    position: static;
  }
}
