.info {
  min-height: 380px;
  margin: 0 20px;
  padding: 0 0 49px;
  position: relative;

  @media (min-width: $tablet) {
    padding: 44px 30px 6px;
    border-bottom: 1px solid #e6e6e6;
    margin: 0;

    @media (min-width: $desktop) {
      margin: 0;
      padding: 0;
      border: none;

    }
  }
}

.info__list {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: item;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    width: 634px;
    justify-content: space-between;
    gap: 37px 0;
  }

  @media (min-width: $desktop) {
    justify-content: flex-start;
    width: 1220px;
    margin: 0 auto;
    gap: 11px 76px;
  }
}

.info__title {
  min-height: 40px;
  font-family: $oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  padding: 0;
  margin: 0;
  padding-bottom: 40px;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
    padding: 0 0 72px;
  }

  @media (min-width: $desktop) {
    padding-top: 4px;
    padding-bottom: 70px;
    width: 1220px;
    margin: 0 auto;
  }
}

.info__item {
  font-family: $lato;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  padding: 3px 0 0 80px;
  min-height: 60px;
  box-sizing: border-box;
  margin: 0 0 20px;
  counter-increment: item;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-color: $thema;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $tablet) {
      width: 80px;
      height: 80px;
      left: 1px;
      top: 3px;
    }
  }

  @media (min-width: $tablet) {
    position: relative;
    width: 250px;
    min-height: 280px;
    margin: 0;
    padding: 111px 0 0;
    font-size: 16px;
    line-height: 24px;

    &::after {
      content: counter(item);
      font-family: $oswald;
      font-size: 280px;
      font-weight: 400;
      line-height: 204px;
      position: absolute;
      height: 280px;
      top: 0;
      min-width: 135px;
      right: 0;
      color: #f2f2f2;
      z-index: -1;
    }
  }

  @media(min-width: $desktop) {
    width: 248px;

    &::after {
      min-width: 130px;
    }
  }

}



.info__item--nutrients::before {
  content: url("../../images/info/nutrients.svg");

}

.info__item--powder::before {
  content: url("../../images/info/powder.svg");
}

.info__item--eat::before {
  content: url("../../images/info/eat.svg");
}

.info__item--changes::before {
  content: url("../../images/info/changes.svg");
}
