.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  border-top: 1px solid #e6e6e6;
}

.menu__item {
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet) {
    border: none;
    position: relative;
  }

  @media (min-width: $desktop) {
    padding-top: 8px;
  }
}

.menu__link {
  font-family: $oswald;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 23px 0;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 9px 0 20px;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: #000000;
  }
}

.menu--index .menu__link {
  @media (min-width: $tablet) {
    padding: 23px 0;
  }

  @media (min-width: $desktop) {
    color: #ffffff;

    &--active::after {
      border-color: #ffffff;
    }
  }
}

.menu__link--active {
  @media (min-width: $tablet) {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 12px;
      border: 1px solid $thema;
      width: 100%;
    }
  }

  @media (min-width: $desktop) {
    &::after {
      bottom: 7px;
    }
  }
}
