.nav {
  position: relative;

  @media (min-width: $tablet) {
    margin-top: 3px;
  }

  @media (min-width: $desktop) {
    width: 500px;
    box-sizing: border-box;
    padding-left: 22px;
    margin-left: auto;
  }
}

.nav__toggle {
  position: absolute;
  top: -45px;
  right: 21px;
  width: 24px;
  height: 24px;
  background-image: url("../../images/mobile-open.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #ffffff;
  border: none;
  display: none;
}

.nav--closed .nav__toggle {
  display: block;

  @media (min-width: $tablet) {
    display: none;
  }
}

.nav--opened .nav__toggle {
  display: block;
  background-image: url("../../images/mobile-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #ffffff;

  @media (min-width: $tablet) {
    display: none;
  }
}

.nav__list {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 0 34px;
  }

  @media (min-width: $desktop) {
    width: 500px;
  }
}

.nav--closed .nav__list {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 0 34px;
    border: none;
  }
}

.nav--opened .nav__list {
  display: block;
  position: absolute;
  width: 100%;
  background-color: #ffffff;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 0 34px;
  }
}
