.page__body--index {
  position: relative;

  @media (min-width: $desktop) {
    &::after {
      content: "";
      position: absolute;
      width: 50%;
      left: 50%;
      height: 600px;
      top: 0;
      background-color: #464447;
      z-index: 1;
    }

    &::before {
      content: "";
      position: absolute;
      width: 50%;
      left: 50%;
      height: 600px;
      top: 0;
      background-color: $thema;
      z-index: 2;
      opacity: 0.85;
    }
  }
}

.page__main {
  @media (min-width: $desktop) {
    position: relative;
    z-index: 2;
  }
}
