.product {
  margin: 0;
  padding: 0;
  background-image: url("./source/images/rectangle.png");
  background-repeat: no-repeat;
  background-size: auto;
  color: #ffffff;
  position: relative;

  @media (min-width: $tablet) {
    background: none;
    padding: 53px 0 527px 90px;
    width: 709px;
    margin: 0 auto;
    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      background:
        image-set(
          url("../../images/product/product-tablet@1x.webp") 1x type("image/webp"),
          url("../../images/product/product-tablet@2x.webp") 2x type("image/webp"),
          url("../../images/product/product-tablet@1x.png") 1x type("image/png"),
          url("../../images/product/product-tablet@2x.png") 2x type("image/png"));
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 709px;
      height: 609px;
      z-index: 1;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: $desktop) {
    width: auto;
    padding: 0;
    margin-bottom: 81px;

    &::before {
      width: 50%;
      transform: translateX(0);
      height: calc(100% + 125px);
      bottom: unset;
      top: -125px;
      background: url("../../images/index-background-desktop.jpg") no-repeat 0 0;
      background-size: auto 100%;
    }

    &::after {
      content: "";
      width: 50%;
      height: calc(100% + 125px);
      bottom: unset;
      top: -125px;
      background: $thema;
      opacity: 0.85;
      position: absolute;
      z-index: 5;
      left: 50%;
    }
  }
}

.product__container {
  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    padding: 103px 0 87px 81px;
    min-height: 574px;

    &::before {
      content: "";
      width: 552px;
      height: 499px;
      position: absolute;
      left: 447px;
      top: 23px;
      background:
        image-set(
          url("../../images/product/product-desktop@1x.webp") 1x type("image/webp"),
          url("../../images/product/product-desktop@2x.webp") 2x type("image/webp"),
          url("../../images/product/product-desktop@1x.png") 1x type("image/png"),
          url("../../images/product/product-desktop@1x.png") 2x type("image/png"));
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }
}

.product__wrapper {
  position: relative;
  padding-bottom: 135px;
  margin-bottom: 3px;

  @media (min-width: $tablet) {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  &::before {
    content: "";
    width: 280px;
    height: 270px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background:
      image-set(
        url("../../images/product/product-mobile@1x.webp") 1x type("image/webp"),
        url("../../images/product/product-mobile@2x.webp") 2x type("image/webp"),
        url("../../images/product/product-mobile@1x.png") 1x type("image/png"),
        url("../../images/product/product-mobile@2x.png") 2x type("image/png"));
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 20;

    @media (min-width: $tablet) {
      display: none;
    }
  }
}


.product__block {
  background-image: url("../../images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 46px;
  padding-bottom: 162px;
  position: relative;
  background-color: #434246;
  background-size: auto 100%;

  &::before {
    content: "";
    background: $thema;
    opacity: 0.85;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    @media (min-width: $tablet) {
      background: none;
      padding-bottom: 0;
    }
  }

  @media (min-width: $tablet) {
    background: none;
    padding: 0;
    margin: 0;
  }
}

.product__title {
  margin: -19 auto 27px;
  text-align: center;
  width: 270px;
  font-family: $oswald;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  position: relative;
  z-index: 10;

  @media (min-width: $tablet) {
    padding: 0;
    margin: 0 0 40px;
    margin-left: 0;
    width: 440px;
    font-family: $oswald;
    font-size: 60px;
    font-weight: 400;
    text-align: start;
    line-height: 60px;
    z-index: 40;
    color: #000000;
  }

  @media (min-width: $desktop) {
    margin: 0 -2px 42px;
  }
}

.product__text {
  margin: 0 auto;
  width: 270px;
  text-align: center;
  text-transform: uppercase;
  font-family: $oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  position: relative;
  z-index: 10;

  @media (min-width: $tablet) {
    width: 440px;
    font-family: $oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    z-index: 40;
    color: #000000;
    margin: 0 0 50px;
    padding: 0;
    text-align: left;
  }
}

.product__button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: $oswald;
  color: #ffffff;
  padding: 10px;
  text-transform: uppercase;
  background-color: $thema;
  display: block;
  margin: 0 20px;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet) {
    width: 242px;
    position: relative;
    z-index: 10;
    display: block;
    margin: 0;
    font-size: 20px;
    font-family: $oswald;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    padding: 14px;
    box-sizing: border-box;
  }
}
